:root {
  --primary-brand-color: #52524e;
  --primary-blue-color: #259dff;
  --additional-text-color: #3a3a3a;
  --light-text-color: #707070;
  --white-color: #fff;
  --green-color: #03830c;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
}
button {
  padding: 0;
}

.container {
  width: 100%;
  max-width: 768px;
  padding: 0 15px;
  margin: 0 auto;
}

.is-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/****************HEADER****************/

.main-header {
}

.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary-blue-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list-nav {
  display: none;
  gap: 10px;
}

.header-link {
  color: var(--primary-brand-color);
  font-weight: bold;
}

.mobile-burger-icon {
  stroke: var(--primary-brand-color);
  display: flex;
}

.cart-icon {
  fill: var(--primary-brand-color);
}

.header-icons {
  display: flex;
  gap: 20px;
}

.header-mobile-btn {
  background-color: var(--white-color);
  border: none;
}

.cart-btn {
  background-color: var(--white-color);
  border: none;
}

/************HERO***********/
.hero {
  padding-top: 20px;
  padding-bottom: 50px;
}

.hero-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.latest-title {
  font-size: 15px;
  margin-bottom: 30px;
}

.latest-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.latest-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 15px 1px rgba(99, 99, 99, 0.75);
  border-radius: 15px;
  width: calc(100% - 50px);
  padding: 25px;
}

.latest-link img {
  height: auto;
  width: 250px;
  border-radius: 40px;
}

.latest-subtitle {
  color: var(--additional-text-color);
}
.latest-description {
  color: var(--light-text-color);
  text-align: center;
}

.latest-price {
  color: var(--green-color);
}

.hero-categories-title {
  font-size: 15px;
}
.hero-navigation {
}
.hero-nav-list {
  display: flex;
  justify-content: space-between;
}

.hero-nav-item {
}

.hero-nav-item {
}
.hero-nav-link {
  color: var(--primary-brand-color);
  border: 1px solid var(--primary-brand-color);
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
}

.hero-link-selected {
  background-color: var(--primary-brand-color);
  color: var(--white-color);
}

/************FILTER***********/

.filter-section {
  padding-bottom: 20px;
}

.filter-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.filter {
  display: flex;
}

.filter-form {
  display: flex;
  gap: 10px;
  margin: 0 auto;
}

.filter-search-icon {
  fill: var(--primary-brand-color);
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--light-text-color);
  border-radius: 50%;
}

.filter-input {
  outline: transparent;
  padding: 0 15px;
  border-radius: 15px;
  border: 1px solid var(--light-text-color);
}
/************FOOTER***********/

.main-footer-container {
  box-shadow: 1px 1px 25px -3px rgba(0, 0, 0, 0.75);
  padding-bottom: 20px;
}
.footer-navigation {
  display: flex;
  justify-content: space-between;
}

.footer-list-nav {
  display: flex;
  gap: 20px;
  text-align: center;
}
.footer-list-item {
  display: flex;
  align-items: center;
}
.footer-link {
  color: var(--primary-brand-color);
  font-size: 12px;
}

.disclaimer {
  display: block;
  font-size: 10px;
  text-align: center;
}
/************MOBILE MENU***********/

.mobile-menu {
  overflow: auto;
  position: fixed;
  display: flex;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: var(--white-color);
}

.mobile-btn-close {
  background-color: var(--white-color);
  border: none;
  display: block;
  top: 30px;
  right: 30px;
  height: 36px;
  width: 36px;
  position: absolute;
}
.mobile-close-icon {
  fill: var(--primary-brand-color);
}

.header-navigation-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.header-list-nav-mobile {
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.header-list-item-mobile {
}
.header-link {
}
