:root {
  --primary-black-color: #2c2c2c;
  --primary-brand-color: #52524e;
  --primary-blue-color: #259dff;
  --additional-text-color: #3a3a3a;
  --light-text-color: #707070;
  --very-light-text-color: #969696;
  --white-color: #fff;
  --green-color: #03830c;
  --red-color: #df0808;
  --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.349);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

input {
  outline: transparent;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-black-color);
}

p {
  color: var(--light-text-color);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  padding: 0;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1500px;
}

/****************HEADER****************/

.main-header {
}

.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary-blue-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list-nav {
  display: none;
  gap: 10px;
}

.header-link {
  color: var(--primary-brand-color);
  font-weight: bold;
}

.mobile-burger-icon {
  stroke: var(--primary-brand-color);
  display: flex;
}

.cart-icon {
  fill: var(--primary-brand-color);
}

.header-icons {
  display: flex;
  gap: 20px;
}

.header-mobile-btn {
  background-color: var(--white-color);
  border: none;
}

.cart-btn {
  background-color: var(--white-color);
  border: none;
}

/************HERO***********/
.hero {
  padding-top: 20px;
  padding-bottom: 50px;
}

.hero-header {
  margin-bottom: 30px;
}

.hero-title {
  display: flex;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--white-color);
}
.hero-subtitle {
  color: var(--white-color);
  font-size: 13px;
}

.hero-titles-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(15px);
  padding: 15px;
  border-radius: 40px;
  text-shadow: var(--text-shadow);
  gap: 5px;
}

.latest-title {
  display: flex;
  font-size: 15px;

  justify-content: center;
}

.latest-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.latest-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 15px 1px rgba(99, 99, 99, 0.75);
  border-radius: 15px;
  width: calc(100% - 50px);
  padding: 25px;
}

.latest-link img {
  height: 250px;
  width: 250px;
  border-radius: 40px;
  object-fit: contain;
}

.latest-subtitle {
  color: var(--additional-text-color);
}
.latest-description {
  color: var(--light-text-color);
  text-align: center;
}
.latest-price-span {
  color: var(--red-color);
  text-decoration: line-through;
  margin-right: 10px;
}

.latest-price {
  color: var(--green-color);
}

.hero-categories-title {
  font-size: 15px;
}
.hero-navigation {
}
.hero-nav-list {
  display: flex;
  justify-content: space-between;
}

.hero-nav-item {
}

.hero-nav-item {
}
.hero-nav-link {
  color: var(--primary-brand-color);
  border: 1px solid var(--primary-brand-color);
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  background-color: transparent;
}

.hero-link-selected {
  background-color: var(--primary-brand-color);
  color: var(--white-color);
}

.welcome-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/main_photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 200px;
}

.delivery {
}

.delivery-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  text-shadow: var(--text-shadow);
  background-image: url(../images/delivery.jpg);
  border-radius: 20px;
  height: 300px;
  font-size: 25px;
  background-repeat: no-repeat;
  background-size: cover;
}

/************DISCOUNTS*********/
.discounts {
  margin-bottom: 20px;
}
.discounts-header {
  margin-bottom: 20px;
}
.discounts-title {
  display: flex;
  font-size: 15px;
  justify-content: center;
}
/************FILTER***********/

.filter-section {
  padding-bottom: 20px;
  padding: 20px;
}

.filter-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.filter {
  display: flex;
  margin-bottom: 20px;
}

.filter-form {
  display: flex;
  gap: 10px;
  margin: 0 auto;
}

.filter-search-icon {
  fill: var(--primary-brand-color);
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--light-text-color);
  border-radius: 50%;
  cursor: pointer;
}

.filter-input {
  padding: 0 15px;
  border-radius: 15px;
  border: 1px solid var(--light-text-color);
  max-width: 150px;
}
/************FOOTER***********/

.main-footer-container {
  box-shadow: 1px 1px 25px -3px rgba(0, 0, 0, 0.75);
  padding-bottom: 20px;
  margin-top: 40px;
}
.footer-navigation {
  display: flex;
  justify-content: space-between;
}

.footer-list-nav {
  display: flex;
  gap: 20px;
  text-align: center;
}
.footer-list-item {
  display: flex;
  align-items: center;
}
.footer-link {
  color: var(--primary-brand-color);
  font-size: 12px;
}

.disclaimer {
  display: block;
  font-size: 16px;
  text-align: center;
  color: var(--red-color);
}
/************MOBILE MENU***********/

.mobile-menu {
  overflow: auto;
  position: fixed;
  display: flex;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: var(--white-color);
}

.mobile-btn-close {
  background-color: var(--white-color);
  border: none;
  display: block;
  top: 30px;
  right: 30px;
  height: 36px;
  width: 36px;
  position: absolute;
}
.mobile-close-icon {
  fill: var(--primary-brand-color);
}

.header-navigation-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.header-list-nav-mobile {
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.header-list-item-mobile {
}
.header-link {
}

/*****************ITEM PAGE***************/

.item-go-back {
  margin-top: 20px;
}
.item-go-back-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
.item-go-back-icon {
  fill: var(--primary-brand-color);
}

.item-title {
}
.item-gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.item-main-image {
  width: 250px;
  height: 250px;
  object-fit: contain;
  cursor: pointer;
}
.item-additional-img-container {
}
.item-additional-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.item-additional-item {
  cursor: pointer;
}
.item-additional-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.item-description {
  color: var(--light-text-color);
  margin-bottom: 20px;
}
.item-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.item-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item-size-picker {
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
}
.item-size-picker option {
  font-weight: 500;
}
.item-color-picker {
}

.item-color-picker-input {
  color: var(--primary-brand-color);
  cursor: pointer;
}

.item-color-picker-input label {
  color: var(--light-text-color);
}

.item-aside-container {
  display: flex;
  flex-direction: column;
}
.item-rating {
}
.item-5stars-test {
  width: 100px;
  height: auto;
}
.item-price {
  color: var(--green-color);
}
.item-form-aside-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 0 20px 0 20px;
  padding-top: 20px;
}
.item-form-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--light-text-color);
  border-radius: 10px;
  cursor: pointer;
  color: var(--primary-black-color);
}

.item-color-title {
  color: var(--additional-text-color);
  margin-bottom: 5px;
}

.item-price-heading {
  color: var(--additional-text-color);
  margin-bottom: 5px;
}

.item-size-label {
  color: var(--additional-text-color);
  margin-bottom: 5px;
}

.item-reviews {
}

.item-review-additional-div {
  display: flex;
  justify-content: space-between;
}

.item-review-icon-author {
  fill: var(--primary-brand-color);
}
.item-reviews-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-review-icon {
  fill: var(--primary-black-color);
}
.item-reviews-title {
}
.item-reviews-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}
.item-reviews-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--primary-black-color);
  border-radius: 10px;
  padding: 20px;
}
.item-reviews-author {
  color: var(--primary-brand-color);
}
.item-reviews-description {
  color: var(--light-text-color);
}

.item-alike {
  margin-bottom: 50px;
}

.item-alike-header {
  margin-bottom: 20px;
}
.item-alike-title {
}

.item-description-additional-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  border: 1px solid var(--primary-black-color);
  border-radius: 5px;
  padding: 20px;
}

.item-description-text {
  display: flex;
  align-items: center;
}

.item-description-table th {
  font-weight: 400;
}

.item-form-inputs-container {
  display: flex;
  align-items: baseline;
  gap: 50px;
}

.item-size-div {
  display: flex;
  flex-direction: column;
}

/***************************CART*******************/

.cart-main-info {
}

.cart-select-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.cart-list-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.cart-main-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.cart-quantity-picker {
  max-width: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-item-others {
  display: flex;
  gap: 20px;
  color: var(--light-text-color);
}
.cart-size {
}
.cart-color {
  margin-left: 10px;
}
.cart-price {
}
.cart-price-span {
  color: var(--green-color);
}
.cart-total-price {
  color: var(--additional-text-color);
  text-align: right;
  margin-top: 20px;
  margin-bottom: 40px;
}
.cart-total-price-span {
  color: var(--green-color);
}
.cart-item-img-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-btns {
}

.cart-btns-list {
  display: flex;
  justify-content: space-between;
}
.cart-btns-item {
}
.cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--light-text-color);
  border-radius: 10px;
  cursor: pointer;
  color: var(--primary-brand-color);
}

/************CHECKOUT*************/

.checkout-btns {
  margin-bottom: 50px;
}

.checkout-btns-list {
  display: flex;
  justify-content: space-between;
}
.checkout-btns-item {
}
.checkout-go-back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--light-text-color);
  border-radius: 10px;
  cursor: pointer;
  color: var(--primary-brand-color);
  font-size: 15px;
}
.checkout-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--light-text-color);
  border-radius: 10px;
  cursor: pointer;
  color: var(--primary-brand-color);
  font-size: 15px;
}

.checkout-radio-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.checkout-item {
  display: flex;
  justify-content: space-between;
}
.checkout-radio-main-div {
  margin-bottom: 50px;
}
.checkout-form-label {
  font-weight: 500;
}
.checkout-form-radio {
  cursor: pointer;
}
.checkout-price {
  color: var(--green-color);
}

.checkout-input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.checkout-input-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.checkout-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.checkout-item-inputs {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  align-items: center;
}
.checkout-form-label {
  color: var(--light-text-color);
}
.checkout-form-input {
  border-radius: 7px;
  border: 1px solid var(--primary-brand-color);
  padding: 4px 7px 4px 7px;
}

.checkout-form-input::placeholder {
  color: var(--very-light-text-color);
}
.checkout-cart-border {
  border: 1px solid var(--primary-brand-color);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 15px;
}

/*************************SHIPPING********************/
.shipping-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.shipping-header {
  margin-bottom: 20px;
}
.shipping-main-heading {
}
.shipping-main-description {
}
.shipping-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.shipping-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shipping-img {
  width: 200px;
  border-radius: 30px;
}
.shipping-item-div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.shipping-icon {
  fill: var(--primary-brand-color);
}
.shipping-heading {
  color: var(--primary-brand-color);
}
.shipping-description {
  color: var(--very-light-text-color);
}
.shipping-description-span {
  color: var(--primary-brand-color);
  font-weight: 500;
}

/******************CATALOGUE*******************/
.seasonal {
  padding-bottom: 30px;
}

.catalogue-categories {
  padding-top: 30px;
  padding-bottom: 30px;
}
.container {
}
.catalogue-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.catalogue-list-item {
}
.catalogue-link {
  border: 1px solid var(--primary-black-color);
  padding: 5px;
  color: var(--light-text-color);
  border-radius: 10px;
  background-color: transparent;
}
.catalogue-additional-line {
  border-bottom: 3px double var(--very-light-text-color);
  margin-bottom: 15px;
}
/*******************SEARCH*********************/
.search {
  padding-top: 30px;
}
/***************ADDITIONAL CLASSES TO AVOID USING IMPORTANT******************/
.is-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
